<footer class="footer">
    <div class="footer-container">
      <div class="footer-section about">
        <img src="/images/logo.png" alt="Cardiobox Fitness" width="200px">
        <p class="about-text">Cardiobox Fitness offers expert training, state-of-the-art equipment, and a supportive community to help you achieve your health and fitness goals</p>
        <ul class="contact-info">
            <li> <div class="icon-circle"><mat-icon>phone</mat-icon></div> 1-667-125-13227</li>
            <li> <div class="icon-circle"><mat-icon>location_on</mat-icon></div> 3rd Floor, Link Arcade Model Town, USA.</li>
            <li> <div class="icon-circle"><mat-icon>email</mat-icon></div> Support cardioboxfitness.com</li>
          </ul>
      </div>
      <div class="footer-section links">
        <h4>USEFUL LINK</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Personal Training</a></li>
          <li><a href="#">Classes</a></li>
          <li><a href="#">Merchandise</a></li>
        </ul>
      </div>
      <div class="footer-section discover">
        <h4>DISCOVER</h4>
        <ul>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Terms and condition</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Cookie Policy</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-section connect">
        <h4>CONNECT WITH US</h4>
        <div class="social-icons">
          <a href="https://www.facebook.com" target="_blank">
            <img src="/images/images1.jpg" alt="Facebook">
          </a>
          <a href="https://www.twitter.com" target="_blank">
            <img src="./images/index3.png" alt="Twitter">
          </a>
        </div>
        <div class="newsletter">
          <h4>NEWSLETTER</h4>
          <form>
            <input type="email" placeholder="Email">
            <button type="submit">➔</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© Copyright Cardiobox Fitness 2017. All Right Reserved.</p>
    </div>
  </footer>
  