<div class="about-us-container">
    <div class="about-us-text">
      <h1>ABOUT US</h1>
      <p>Welcome to CardioBox, where we prioritize your health and wellness with personalized training programs, state-of-the-art equipment, and a supportive community for all fitness levels.</p>
      <p id="para2">Our fitness center is dedicated to helping you achieve your health goals through a holistic approach. With expert trainers, cutting-edge equipment, and a variety of classes, we cater to all fitness levels. Join our supportive community and experience personalized programs designed to improve your physical and mental well-being. Your journey starts here.
      </p>
      <button class="read-more-btn">Read More</button>
    </div>
    <div class="about-us-image">
      <img src="/images/aboutus.jpg" alt="About Us">
    </div>
    
  </div>
  