.card {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin: 20px 70px;
  }
  
  .card img {
    width: 500px;
    height: 250px;
  }
  
  .card-content {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  }
  
  .card-content h1{
    font-size: 40px;
  }

  @media (max-width: 480px) {
    .card img,.card{
        width: 80vw;
    }
    .card-content {
        
        width: 80%;
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }