.hero-section{
    position: relative;
    width: 100vw;
    aspect-ratio: 16/9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container{
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
}

div{
  color: white;
}

.large-text{
    font-size: 90px;

}

.sub-text{
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 2rem;
}

@media (max-width: 1245px) {
    .large-text {
        font-size: 6vw; /* Smaller font size on tablets and smaller screens */
        
    }

    .large-text>strong{
        margin-top:10rem ;
    }

    .sub-text {
        font-size: 2vw; /* Smaller font size on tablets and smaller screens */
    }
}

@media (max-width: 480px) {
    .large-text {
        font-size: 6vw; /* Smaller font size on mobile phones */
    }

    .sub-text {
        font-size: 2vw; /* Smaller font size on mobile phones */
    }
}