<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<main class="main">
      
  
  <app-hero-section></app-hero-section>
  <app-navbar></app-navbar>
  <div class="training-cards">
    <app-training-card
    *ngFor="let training of trainings"
    [title]="training.title"
    [description]="training.description"
    [imageUrl]="training.imageUrl">
    ></app-training-card>
  </div>
  <app-about-us></app-about-us>
  <app-cardio></app-cardio>
  <app-workout-gallery></app-workout-gallery>
  <app-merch></app-merch>
  <app-footer></app-footer>
</main>




<router-outlet />
