<div class="merch"> 
    <div class="merch-text">
        <div></div>
        <h1>MERCHANDISE</h1>
        <p>Explore our exclusive fitness merchandise for high-quality apparel, accessories, and gear to enhance your workout experience </p>
    </div>
    <div class="merch-images">
        <div class="prod1"><img src="/images/product-1.jpg" alt="product-1">
            <h4>T shirts</h4>
            <h3>£ 20.00</h3>
        </div>
        <div class="prod2"><img src="/images/product-2.jpg" alt="product-2">
        <h4>Mugs</h4>
        <h3>£ 49.00</h3>
        </div>
        <div class="prod3"><img src="/images/product-3.jpg" alt="product-3">
            <h4>Mouse Mats</h4>
            <h3>£ 35.00</h3>
        </div>
        <div class="prod4"><img src="/images/product-4.jpg" alt="product-4" height="280px" width="280px">
        <h4>Nike Sports Water Bottle</h4>
        <h3>£ 45.00</h3>    
        </div>  
        
    </div>
</div>