.merch{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.merch-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

h1{
    font-size: 50px;
}

p{
    font-size: 20px;
     color :grey
}

.merch-images{
    display: flex;
    gap: 30px;
    
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.prod1{
    min-width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    
}
.prod2{
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    text-align: center;
}
.prod3{
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    align-items: center;
}
.prod4{
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    align-items: center;
}

h3{
    color : #ff9900
}
h4{
    text-align: center;
}

@media (max-width : 1200px){
    .merch-images{
        width: 70vw;
        
    }
}