<div class="workout-gallery">
    <div class="styled"></div>
    <h1>OUR WORKOUT GALLERY</h1>
    <p>Discover our workout gallery showcasing diverse exercises, training routines,<br> and fitness tips to motivate and guide you on your journey to better health.</p>
    <div class="image-container">
        <img src="/images/img-1.jpg" alt="image1">
        <img src="/images/img-2.jpg" alt="image2">
        <img src="/images/img-3.jpg" alt="image3">
        <img src="/images/img-4.jpg" alt="image4">
        <img src="/images/img-5.jpg" alt="image5">
        <img src="/images/img-6.jpg" alt="image6">
    </div>
    <button class="view-btn"><p>VIEW ALL</p></button>
</div>
