.workout-gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 30px;
    width: 100vw;
    
}

.styled{
    height: 2px;
    width :80px;
    background-color : #ff9900;
    margin-top: 20px;
}
h1{
    font-size: 60px;
}

p{
    font-size: 25px;
    color: grey;
}


.image-container{
    margin: 30px;
    display: flex;
    gap: 30px;
    width: 70vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.view-btn{
    padding:  20px 40px;  /* Increase padding for a larger button */
    background-color: #ff9900;  /* Button background color */
    display: flex;

    align-items: center;
    justify-content: center;
    color: white;
    border: none;  /* Remove default border */
    border-radius: 50px;  /* Make the button rounded */
    cursor: pointer;  /* Pointer cursor on hover */
    font-size: 24px;  /* Increase font size */
    font-weight: bold;  /* Bold text */
    transition: background-color 0.3s ease;  /* Smooth transition on hover */
}

@media (max-width : 1070px){
    .image-container{
        width: 90vw;
    }



    .workout-gallery > p{
        width: 90vw;
        padding: 20px;
        font-size: 16px;
    }
    .workout-gallery > h1{
        padding-left: 20px;
        margin: 0;
    }
    .workout-gallery{
        margin-top: 0px;
    }
}